{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="mb-4 text-center">Select Quiz</h3>
    <form method="post" class="w-50 mx-auto">
        {% csrf_token %}
        <div class="d-flex flex-wrap">
            {% for exam in exams %}
                <div class="card m-2" style="width: 18rem; cursor: pointer;">
                    <a href="{% url 'exam:quiz' exam.pk %}" class="text-decoration-none">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ exam.name }}</h5>
                            <p class="card-text">Click to start quiz.</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
